<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
		<title>ACVD Assembly Assistant - {% block title %}{% endblock %}</title>
	</head>

	<body>
	<div id="header">
		<div id="header_title">ACVD Assembly Assistant</div>
	</div>

	<div id="center">

		<div id="sidebar">
			<div id="sidebar_link"><a href="/">Home</a></div>
			<div id="sidebar_link"><a href="/damage.html">ダメージ計算</a></div>
			<div id="sidebar_link"><a href="/dps.html">簡易DPS計算</a></div>
			<div id="sidebar_link"><a href="/penetration.html">貫通閾値計算</a></div>
			<div id="sidebar_link"><a href="/lockon_range.html">ロックオン距離計算</a></div>
			<div id="sidebar_link"><a href="/impact_threshold_acv.html">衝撃閾値計算（ACV）</a></div>
		</div>

		<div id="main">
			{% block content %}{% endblock %}
		</div>
	</div>

	</body>
<html>
