{% extends "base.html" %}

{% block title %}
ワールドモード情報
{% endblock %}



{% block content %}

戦争終結の予想時刻や現在の最前線基地を確認できます。<br>
更新時間：{{ update_date|toJst|date:"Y/n/d G:i" }}<br>

<div class="world">
	{% for area_info in area_infos %}
	<div class="area">
	<div class="area_name">
		{{ area_info.name }}<br>
		{{ area_info.backbone }}
	</div>
	<div class="base">
		最前線拠点<br>
		<img src="{{ area_info.front_base_url }}">
	</div>
	<div class="base">
		特別出撃拠点<br>
		<img src="{{ area_info.special_base_url }}">
	</div>
	<div class="base">
		データ回収拠点<br>
		<img src="{{ area_info.hacking_base_url }}">
	</div>
	</div>
	{% endfor %}
</div>

<br>
予測戦争終了時間<br>
最速戦争終了時間（3時間内平均）:{{ fastest_time3|toJst|date:"Y/n/d G:i" }}<br>
最遅戦争終了時間（3時間内平均）:{{ latest_time3|toJst|date:"Y/n/d G:i" }}<br>
最速戦争終了時間（24時間内平均）:{{ fastest_time24|toJst|date:"Y/n/d G:i" }}<br>
最遅戦争終了時間（24時間内平均）:{{ latest_time24|toJst|date:"Y/n/d G:i" }}<br>


{% endblock %}
