{% extends "base.html" %}

{% block content %}
	
	{%if is_input_error %}整数を入力してください<br>{% endif %}
	<div id="input_form">
	<form action="/damage.html" method="post">
		攻撃力
		<input class="number" type="number" name="attack" min="0" value ="0"></input>
		防御力
		<input class="number" type="number" name="defense" min="0" value ="0"></input>
		<input type="submit" value="Submit">
	</form>
	</div>

	{% if has_result %}
		貫通判定：{{ penetration }}<br>
		ダメージ：{{ damage }} 
	{% endif %}

	<p>ダメージ計算は今のところ跳弾時のみ可能です。<br>
	実際のダメージには、威力保証距離、減衰率、爆発力、衝撃による防御力低下など<br>
	様々な要因によりダメージが変化するので、参考程度にしてください。<br>
	※1.02から跳弾のダメージが変わります。本サイトの計算は1.01です。<br></p>
	<p>
	跳弾判定: 攻撃力 &lt= 防御力<br>
	小貫通判定：防御力 &lt 攻撃力 &lt 防御力×1.3<br>
	大貫通判定：防御力×1.3 &lt= 攻撃力<br>
	跳弾時ダメージ計算：攻撃力 × ( 0.25 - (0.01 * ( 防御力 / 500.0 ) ) ) ※防御力/500は小数点切上(1.01)<br>
	大貫通時ダメージ計算：攻撃力 × ( 0.8 - (0.01 * ( 防御力 * 0.8 / 50.0 ) ) ) ※防御力*0.8/50.0は小数点切上<br>	
	</p>

{% endblock %}
