{% extends "base.html" %}

{% block content %}
	
	{%if is_input_error %}整数を入力してください<br>{% endif %}
	<div id="input_form">
	<form action="/impact_threshold_acv.html" method="post">
		対反動性能
		<input type="number" name="reaction_performance" min="0" value ="0"></input>
		<input type="submit" value="Submit">
	</form>
	</div>

	{% if has_result %}
		{% if freeze_weapons %}
			{% for freeze_weapon in freeze_weapons %}
			<b>{{ freeze_weapon.name }} </b> : {{ freeze_weapon.impact }} <br> 
			{% endfor %}
		{% else %}
			<b>No DATA</b>
		{% endif %}

		<div id="threshold">- Freeze : {{ freeze }} -<br></div>

		{% if stagger_weapons %}
			{% for stagger_weapon in stagger_weapons %}
			<b>{{ stagger_weapon.name }} </b> : {{ stagger_weapon.impact }} <br> 
			{% endfor %}
		{% else %}
			<b>No DATA</b>
		{% endif %}

		<div id="threshold">- Stagger : {{ stagger }} -<br> </div>

		{% if normal_weapons %}
			{% for normal_weapon in normal_weapons %}
			<b>{{ normal_weapon.name }} </b> : {{ normal_weapon.impact }} <br> 
			{% endfor %}
		{% else %}
			<b>No DATA</b>
		{% endif %}
	
	{% endif %}

{% endblock %}
