{% extends "base.html" %}

{% block content %}

	{%if is_input_error %}整数を入力してください<br>{% endif %}

	<div id="input_form">
	<form action="/lockon_range.html" method="post">
		カメラ性能
		<input class="number" type="number" name="camera" min="0" value ="0"></input>
		ロックオン距離（FCS）
		<input class="number" type="number" name="fcs_range" min="0" value = "0"></input>
		<input type="submit" value="Submit">
	</form>
	</div>

	{% if has_result %}
		<p>ロックオン距離:<b> {{ lockon_range }} </b></p>
	{% endif %}

	<p>＊計算式:FCSロックオン距離 × ( ( カメラ性能 ) + 500 ) / 1000 ) </p>
	
{% endblock %}
